

@media only screen and (max-width: 1200px){
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
}


@media only screen and (max-width: 1023px) {
    .main-nav{font-size: 90%;}
     body { font-size: 18px; }
     section { padding: 60px 0; }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    .steps-box {margin-top: 10px;}
    .steps-box: last-child {margin-top: 10px;}
    .works-steps {margin-bottom: 40px; }
    .works-step:last-of-type {margin-bottom: 60px; }
    
    .app-screen {width: 100%; }
    
    .icon-small {
        width: 17px;
        margin-right: 5px;
    }
    .city-feature { font-size: 90%;}
    .contact-form {width:80%; }
    
    
    
}


@media only screen and (max-width: 818px) {
    body { font-size: 16px; }
    section {padding: 85px 0; }
    .steps-box:first-child {
        text-align: center;
        padding-bottom: 0%;}
    
    .row, 
    .hero-text-box {padding: 0 4%;}

    .col {
        width: 100%; 
        margin:  0 0 4% 0;
    
    }
    
    .main-nav {display: none; }
	
	.mobile-nav-icon {display: inline-block;} 
	
	.mobile-nav-icon {
		display: inline-block;
		color: #000;
		margin-top: 45px;
				
	}
	
	.main-nav {
		float: left;
		margin-top: 35px;
		margin-left: 45%;
	}
	
	.main-nav li {
		display: block;
	}
	
	.main-nav li a:link,
	.main-nav li a:visited {
		display: block;
		border: 0;
		padding: 10px 0;
		font-size: 105%;
	}
	
	.sticky .main-nav{ margin-top: 18px; }
	.sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0;}
	.sticky .mobile-nav-icon i { margin-top: 10px;}
	.sticky .mobile-nav-icon i { color: #555;}

    .sticky .logo { display: none; }
    .sticky .logo-black { display: block; }

	
    
    h1 {font-size: 190%; }
    h2 {font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    .steps-box:first-child {
        text-align: center;
    }
    
    .distance{ padding: 5px;}
    
    .app-screen {width: 60%; }
    
    .works-step div {
        height: 40px;
        width: 40px;
        padding: 4px;
        margin-right: 15px;
        font-size: 120%;
    
    }
    
    .works-steps {margin-bottom: 10px; }
    .works-step:last-of-type {margin-bottom: 20px;}
	
	.long-copy {
		text-align: center;
	
	}
	
	.btn-app img {
		height: 20px;
	}
	
	 h3 {
		font-size: 15px;
	}
	
	.popup {
		font-size: 105%;
		padding: 10px 0;
	}
	
	footer p {
		font-size: 100%;
	}
}

@media only screen and (max-width: 759px) {
	.main-nav {
		margin-left: 45%;
	}
}

@media only screen and (max-width: 707px) {
	.main-nav {
		margin-left: 43%;
	}
}

@media only screen and (max-width: 694px) {
	.main-nav {
		margin-left: 40%;
	} 
}

@media only screen and (max-width: 635px) {
	.main-nav {
		margin-left: 37%;
	}
}

@media only screen and (max-width: 605px) {
	.main-nav {
		margin-left: 33%;
	} 
}

@media only screen and (max-width: 571px) {
	.main-nav {
		margin-left: 30%;
	}
}

@media only screen and (max-width: 547px) {
	.main-nav {
		margin-left: 25%;
	}
}

@media only screen and (max-width: 511px) {
	.main-nav {
		margin-left: 20%;
	}
}



@media only screen and (max-width: 493px) {
	.main-nav {
		margin-left: 15%;
	}

}


@media only screen and (max-width: 375px) {
	.main-nav li a:link,
	.main-nav li a:visited {
		font-size: 100%;
	}
	
	.popup {font-size: 100%;}
	
	.main-nav {
		margin-left: 5%;
	}

    
}


@media only screen and (max-width: 360px) {
	.main-nav li a:link,
	.main-nav li a:visited {
		font-size: 95%;
	}
	
	.popup {font-size: 95%;}
	
	.main-nav {
		margin-left: 5%;
	}

    
}

@media only screen and (max-width: 320px) {
	.main-nav li a:link,
	.main-nav li a:visited {
		font-size: 80%;
	}
	
	.popup {font-size: 80%;}
	
	.main-nav {
		margin-left: 5%;
	}

    
}
